@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCartItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var order in Model)
    {
        var deliverStatus ="";
        if (!order.IsDelivered)
        {
            deliverStatus = "not-delivered";
        }


        <tr class="@deliverStatus">
            <td>
                @Html.DisplayFor(modelItem => order.OrderDateTime)
            </td>
            <td>
                <ul class="list-unstyled">
                    @foreach (var cartItem in order.OrderCartItems)
                    {
                        <li>@cartItem.Dish.DishName</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Phonenumber)
            </td>

            @{
                if (order.IsDelivered)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
            }

            <td>
                @Html.DisplayFor(modelItem => order.User.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@order.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@order.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@order.OrderId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
