@model CartIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Your shopping cart</h2>
<h4>Here are the delicious dishes in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Selected amount</th>
        <th>Dish</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Cart.Items)
    {
        <tr>
            <td class="text-center">@item.Quantity</td>
            <td class="text-left">@item.Dish.DishName</td>
            <td class="text-right">@item.Dish.Price.ToString("c")</td>
            <td class="text-right">
                @((item.Quantity * item.Dish.Price).ToString("c"))
            </td>
            <td>
                <form asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="ProductID"
                           value="@item.Dish.DishId" />
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger ">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        @*<td class="text-right">
            @Model.TotalAmount.ToString("c")
        </td>*@
    </tr>
    </tfoot>
</table>