@inject DishTypeService _dishType
@inject IngredientService _ingredient
@model CartIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Your shopping cart</h2>
<h4>Here are the delicious dishes in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @*<th>Selected amount</th>*@
            <th>Dish</th>
            <th class="text-left">Ingredients</th>
            <th class="text-right">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.Items)
        {
            <tr>
                @*<td class="text-center">@item.Quantity</td>*@
                <td class="text-left">@item.Dish.DishName (@_dishType.All().FirstOrDefault(dt => dt.DishTypeId == item.Dish.DishTypeId).DishTypeName)</td>
                <td class="text-left">
                    @foreach (var ingredient in item.CartItemIngredients)
                {
                        @ingredient.IngredientName <text> </text>
                    }
                    <a class="btn-default" data-toggle="modal" data-target="#ingredientModal"><span class="fa fa-lg fa-pencil"></span></a>
                </td>
                <td class="text-right">@item.Price.ToString("c")</td>
                <td class="col-md-1">
                    <a class="btn btn-danger" asp-action="RemoveFromCart" method="post"
                       asp-route-id="@item.CartItemId" asp-route-returnUrl="@Model.ReturnUrl">
                        <span class="fa fa-lg fa-trash-o"></span>
                    </a>

                </td>
            </tr>
        <!-- Modal -->
            <div id="ingredientModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <form asp-controller="Cart" asp-action="EditItemIngredients" asp-route-id="@item.CartItemId">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit your dish</h4>
                            <p>No discount given if original ingredients are removed.</p>
                        </div>
                        <div class="modal-body">

                            @foreach (var ingredient in _ingredient.All())
                            {
                                <div class="form-group">
                                    @{
                                        var price = ingredient.Price;
                                        var isChecked = "";
                                        if (item.CartItemIngredients.Exists(x => x.IngredientName == ingredient.IngredientName))
                                        {
                                            isChecked = "checked=\"checked\"";
            
                                        }
                                        if (item.Dish.DishIngredients.Any(di => di.Ingredient.IngredientName == ingredient.IngredientName))
                                        {
                                            price = 0;
                                        }
                                        <input type="checkbox" @isChecked name="ingredient-@ingredient.IngredientId" />
                                        <label class="control-label">@ingredient.IngredientName - @price kr</label>
                                    }
                                </div>
                                        }

                        </div>
                        <div class="modal-footer">
                            <input type="submit" asp-controller="Cart" asp-action="EditItemIngredients" asp-route-id="@item.CartItemId" class="btn btn-success" value="Save" />
                            <button class="btn btn-danger" data-dismiss="modal">Close without saving</button>
                        </div>
                    </form>
                    </div>

                </div>
            </div>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
        </tr>
    </tfoot>
</table>