@model IEnumerable<PizzaShop.Entities.Payment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardHolder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpireMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpireYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cvv)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardHolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
