@using PizzaShop.Extensions
@model Dish
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.DishName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Price)
    </td>
    <td>
        @foreach (var ingredient in Model.DishIngredients)
        {
            @ingredient.Ingredient.IngredientName <text> </text>
        }
    </td>
    <td>@Model.DishType.DishTypeName</td>
    @if (User.IsInRole("Admin"))
    {
        <td>
            <a asp-controller="Dishes" asp-action="Edit" asp-route-id="@Model.DishId">Edit</a> |
            <a asp-controller="Dishes" asp-action="Details" asp-route-id="@Model.DishId">Details</a> |
            <a asp-controller="Dishes" asp-action="Delete" asp-route-id="@Model.DishId">Delete</a>
        </td>
    }
</tr>
<form id="@Model.DishId" asp-action="AddToCart"
      asp-controller="Cart" method="post">
    <input type="hidden" asp-for="DishId" />
    <input type="hidden" name="returnUrl"
           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    <span class="lead">
        @Model.DishName
        <button type="submit" class="btn btn-success btn-sm pull-right">
            Add To Cart
        </button>
    </span>
</form>