@model DishModel

<div class="menu-text">
    <div class="col-md-8">
        <h3 class="title">@Model.DishName</h3>
        <h4>
            @foreach (var ingredient in Model.Ingredients)
            {
                @ingredient<text> </text>
            }
        </h4>

    </div>
    <div class="col-md-4">
        <h3>@Model.Price.ToString("c")</h3>
        <a class="btn-success btn-sm" asp-action="AddToCart" asp-controller="Cart"
           asp-route-id="@Model.DishId"
           asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Add to cart</a>
    </div> 
        
@*todo*@        @*<a class="btn btn-success btn-sm btn-margin-top"
                                   asp-controller="Cart"
                                   asp-action="BuyNow"
                                   asp-route-id="@Model.DishId">Köp</a>*@

    <div class="clearfix"> </div>
</div>